// Here you can add other styles
.form-group {
    margin-bottom: 6px !important;
}

.form-control {
    padding: 0 5px 0 5px !important;
}

ul {
    list-style-type: none;
}

.nowrap {
    white-space: nowrap;
}

.nopad {
    padding: 0;
}
